.App {
  display: flex;
}

.clima-container {
  flex: 1;
  min-width: 50%;
  min-height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: aquamarine;
  flex-wrap: wrap;
  justify-content: space-between;
}

.transporte-container {
  flex: 1;
  min-width: 50%;
  min-height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color:bisque;
}


.info-ciudad,
.info-general {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: cornsilk;
}
.info-detallada, 
.salida-puesta,
.temp-min-max {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: cornsilk;
}

.icon {
  width: 10 px;
}

.temperatura-por-hora {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: cornsilk;
  overflow-x: auto; /* Agrega un scroll horizontal */
  white-space: nowrap; /* Evita el salto de línea */
}

.lista-temperaturas {
  display: flex;
  gap: 10px;
  padding: 5px;
  min-width: 300px;
  margin-top: 10px;
  overflow-x: auto; /* Agrega un scroll horizontal */
  white-space: nowrap; /* Evita el salto de línea */
  background-color: rgb(19, 21, 114);
  border-radius: 5px;
}

.temperatura-hora {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: cornsilk;
}



