.App {
  display: flex;
}

.clima-container {
  flex: 1;
  min-width: 50%;
  min-height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: aquamarine;
  flex-wrap: wrap;
  justify-content: space-between;
}

.transporte-container {
  flex: 1;
  min-width: 50%;
  min-height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color:bisque;
}


.info-ciudad,
.info-general {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.info-detallada,
.salida-puesta,
.temp-min-max {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.temperatura-por-hora {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.lista-temperaturas {
  list-style-type: none;
  padding: 50;
}

.temperatura-hora {
  margin: 5px 0;
}


